name: conditional
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose the environment'
        required: true
        default: development
        type: choice
        options:
          - development
          - staging
          - production
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production
        if: ${{ github.event.inputs.environment == 'production' }}
        run: echo "Deploying to production!"

      # Step die alleen draait als het development of staging is
      - name: Run in test mode
        if: ${{ github.event.inputs.environment == 'development' || github.event.inputs.environment == 'staging' }}
        run: echo "Running in test mode"

      # Step die altijd draait en de gekozen environment toont
      - name: Show chosen environment
        run: |
          echo Chosen environment:
          echo ${{ github.event.inputs.environment }}
      
  
          
